body {
  background-color: #284B63;
}
label {
  color: whitesmoke;
}
td {
  background-color: white;
  color: black;
}
.btn {
  background-color: #376787;
  color: white;
}
.todo-table {
  background-color: #963232;
  color: white;
}
